@font-face {
  font-family: 'Radiant-Bold';
  src: url(/Fonts/Radiant\ Bold\ Condensed\ Regular.ttf);
}


@font-face {
  font-family: 'HindSiliguri-SemiBold';
  src: url(/Fonts/Hind_Siliguri/HindSiliguri-SemiBold.ttf);
}

@font-face {
  font-family: 'Gill Sans Medium';
  src: url(/Fonts/Gill-Sans-Font-Family/Gill\ Sans\ Medium.otf);
}

.header{
  width: 100%;
  font-family: 'Radiant-Bold', sans-serif;
  color: rgba(0, 0, 0, 0.15);
}

.header a{
  font-size: 27px;
  margin-top: 65px;
}

.by-ruslan{
  padding-left: 30%;
  margin-top: -8%;
  font-family: 'Gill Sans Medium';
}

.navbar{
    background-color: none;
    font-family: 'Radiant-Bold', sans-serif;
    font-size: 25px;
}

#navbarNavDropdown{
padding: 15px;
margin-left: -85px;
}

.dropdown-menu{
    background-color: none!important;
    display: none;
}

.dropdown-navbar{
    background-color: none;
    display: none;
}

.dropdown-link .dropdown-navbar{
    visibility: hidden;
}

/*---------- Cover Section with txt Starts-----------*/
.cover-section{
  position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 25%;
    height: 25%;
}

.thumbnail{
  position:static;
  object-fit: cover;
  width: 100%;
}

/*---------- NAV Text Anim Starts --------------*/
.text-focus-in {
	-webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
nav ul li:nth-child(1) {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

nav ul li:nth-child(2) {
  -webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

nav ul li:nth-child(3) {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

nav ul li:nth-child(4) {
  -webkit-animation: text-focus-in 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-8 20:45:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/*---------- NAV Text Anim Ends --------------*/

/*---------- Cover Section with txt ends-----------*/
.promote{
    width: 68vmax;
    height: 44.2vmax;
    background-color: black;
    transform: translateY(-105%) translateX(60%);
}

.effect{
    background-color: black;
    transform: translateY(-10%);
}

.another-section{
    height: 200px;
    width: 100%;
}

.sticky{
  position: fixed!important;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}

/****** card css ********/
.wrapper-card1 {
    height: 420px;
    width: 654px;
    margin-left: 50px;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
    float: left;
    height: 420px;
    width: 327px;
  }
  
  .product-img img {
    border-radius: 7px 0 0 7px;
  }
  
  .product-info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .product-text {
    height: 300px;
    width: 327px;
  }
  
  .product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
  }
  
  .product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }
  
  .product-price-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
  }
  
  .product-price-btn button:hover {
    background-color: #79b0a1;
  }

  #shirt-back{
      transform: translateY(-100%);
  }

  #shirt-back{
    transform: translateY(-100%);
}

#shirt-back:hover{opacity: 0;
    transition:opacity 1s;
}

.wrapper-card2 {
    height: 420px;
    width: 654px;
    margin-left: 63%;
    margin-top: 5%;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  /****** card css ********/

  /*----------------- banner-wrapper ---------------*/

  .banner-wrapper{
    text-align: center;
    padding-bottom: 5%;
  }
  .banner-body{
    padding-bottom: 5%;
  }
  .banner-btn .col{
    padding: 2%;
    outline: 0;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 17.5px;
    border: 2px solid;
    border-color: #000;
    color: #000;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
  }

  .button_slide {
    color: #FFF;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    border-right: #000;
    border-left:2px #000;
    box-shadow: inset 0 0 0 0 black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px black;
    color: white;
  }

   /*----------------- banner-wrapper Ends ---------------*/

    /*----------------- Collections Start---------------*/
    .carousel-heading{
      text-align: center;
    }

    .carousel-cell {
      width: 95%;
      height: 35vmax;
      margin-right: 10px;
      border-radius: 5px;
      counter-increment: carousel-cell;
      object-fit: cover;
    }

    .carousel-cell:hover{
      color: #FFF;
      opacity: 0.5;
    }
    
    /* cell number */
    .carousel-cell:before {
      display: block;
      text-align: center;
      content: counter(carousel-cell);
      line-height: 200px;
      font-size: 80px;
      color: white;
    }

    .text-cards{
      padding-top: 5%;
      text-align: center;
      font-family: 'Gill Sans Medium';
      font-size: 25px;
    }

    /*----------------- Collections END---------------*/
    /*---------------- Banner 2 starts ----------------*/
    .flex-row{
      height: 450px;
      width: 450px;
    }

    .image-banner-2{
      object-fit: cover;
      height: 5%;
    }

    .col-row{
      padding: 15%;
    }
    .banner-2-text{
      padding-top: 20%;
      padding-left: 6vmax!important;
    }

    .btn-container2{
      padding-left: 15%;
      padding-top: 5%;
    }

    .btn1{
      text-align: center;
      width: 75%;
      padding-top: 2%;
      height: 3vmax;
      font-size: 1.2vmax;
      border: 2px solid;
      border-color: #000;
      color: #000;
      background: transparent;
    }

    .btn2{
      text-align: center;
      width: 75%;
      padding-top: 2%;
      height: 3vmax;
      font-size: 1.2vmax;
      border: 2px solid;
      border-color: #000;
      color: #000;
      background: transparent;
    }

     /*---------------- Banner 2 ends ----------------*/

      .site-wrapper{
        background: #f5f5f5;
        padding: 5%;
      }
     
     .email{
       display: inline !important;
       background-color: transparent!important;
       width: 45%!important;
       border-top: transparent!important;
       border-right: transparent!important;
       border-left: transparent!important;
       border-bottom: 1px solid #000!important;
       border-radius: 0!important;
     }

     .submit{
      background-color: transparent!important;
      border-color: #000!important;
      border: transparent!important;
      padding-bottom: 2%!important;
     }

     
     .submit:hover{
      background-color: rgba(0, 0, 0, 0.15)!important;
     }
     .icons:hover{
      -webkit-animation: rotate-center 0.6s ease-in-out both;
      animation: rotate-center 0.6s ease-in-out both;
     }

     @-webkit-keyframes rotate-center {
      0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
      }
      100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }
    @keyframes rotate-center {
      0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
      }
      100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }
    
  